<% if (user.status === 'active') { %>
    <div class="tweet-card-container  card-info">
        <img class="tweet-card-bgp" src="<%= user.bgp %>" alt="">
        <div class="tweet-card-body">
            <figure class="tweet-card-pfp-container">
                <img src="<%= user.pfp %>" class="tweet-card-pfp" alt="">
            </figure>
            <h4 class="tweet-card-user mt-3"><%= user.username %></h4>
            <div class="inlined tweet-card-text">
                <a>Followers: <%= user.followers %></a>
            </div>
            <div class="inlined tab-space tweet-card-text">
                <a>Following: <%= user.following %></a>
            </div>
        </div>
        <div class="tweet-card-footer">
            <small>Last updated {} mins ago</small>
            <button class="btn btn-info btn-sm float-right">Tweets</button>
        </div>
    </div>
<% } %>
