<%- include('includes/header'); %>
<% switch (toRoute) {
case 'home': %>
<%- include('includes/navigation', {route: "home"}); %>
<% break; %>
<% case 'about': %>
<%- include('includes/navigation', {route: "about"}); %>
<% break; %>
<% case 'contact': %>
<%- include('includes/navigation', {route: "contact"}); %>
<% break; %>
<% case 'tweets': %>
<%- include('includes/navigation', {route: "tweets"}); %>
<% break; %>
<% case 'users': %>
<%- include('includes/navigation', {route: "users"}); %>
<% break; %>
<% default: %>
<%- include('includes/navigation', {route: null}); %>
<% break; %>
<% } %>


<div class="background">
    <div class="container container-body">
        <div class="row">
            <div class="col-md-12 pt-3">
                <h1 class="title">Log-it!</h1>
                <h2 class="subtitle">A Twitter web scraper</h2>
            </div>
        </div>

        <% if (toRoute === "home") { %>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-outline-secondary">Config</button>
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Search Parameters</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Tweets</a>
                        <a class="dropdown-item" href="#">User Accounts</a>
                        <a class="dropdown-item" href="#">Round Robin</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
                <input class="form-control nav-search" type="text" name="nav-search" placeholder="Enter a phrase or statement" aria-label="Search">
            </div>
        <% } else { %>
            <% if (contents.role === 'users') { %>
                <% for (var i = 0; i < contents.length; i++) { %>
                    <div class="row">
                        <div class="col-md-12">
                            <%= include('components/userCard', { user: contents[i] }) %>
                        </div>
                    </div>
                    <hr>

                <% } %>
            <% } else if (contents.role === 'tweets') { %>
                <% for (var i = 0; i < contents.length; i++) { %>
                    <div class="row">
                        <div class="col-md-12">
                            <%= include('components/tweetCard', { tweet: contents[i] }) %>
                        </div>
                    </div>
                    <hr>
                <% } %>
            <% } %>
        <% } %>

    </div>
</div>
<%- include('includes/scripts'); %>
</body></html>
